---
import { Container } from './container';
---

<Container>
  <section class="note">
    <h2 class="title">Finding Calm in the Chaos</h2>
    <p class="text">
      In the relentless hustle of modern life, where every tick of the clock
      feels like a push to achieve more and move faster, stress wraps around you
      like a tightrope you can&apos;t escape. The constant pressure to keep up
      and outdo yesterday&apos;s self can turn each day into a high-stakes game
      of survival.
    </p>
    <p class="text">
      But here&apos;s your chance to pause the whirlwind. Take a deliberate step
      back, hit the pause button on your endless to-do list, and just breathe.
      Let your breath cut through the noise, gently pushing away the weight of
      your worries. Inhale calm and exhale the chaos, finding a brief, serene
      space where it&apos;s okay to simply be.
    </p>
  </section>
</Container>

<style>
  .note {
    padding: 30px 0 40px;

    & .title {
      margin-bottom: 12px;
      font-family: var(--font-display);
      font-size: var(--font-lg);
      color: var(--color-foreground);
    }

    & .text {
      line-height: 1.6;
      color: var(--color-foreground-subtle);

      &:not(:last-of-type) {
        margin-bottom: 12px;
      }
    }
  }
</style>
